---
import Layout from "../layouts/Layout.astro";
import CalloutCard from "../components/CalloutCard.astro";
import InstagramBlock from "../components/InstagramBlock.astro";
import { Image } from "astro:assets";
import aboutImage from "../assets/images/about.jpg"
import developerIcon from "../assets/images/icons/developer.png"
import iuIcon from "../assets/images/icons/iu.png"
import motocrossIcon from "../assets/images/icons/motocross.png"
import learnerIcon from "../assets/images/icons/learner.png"
import adventureIcon from "../assets/images/icons/adventure.png"
import foodieIcon from "../assets/images/icons/foodie.png"

const cliffNotes = [
  {
    icon: developerIcon,
    heading: "Software Engineer @ Xylem",
  },
  {
    icon: iuIcon,
    heading: "Indiana University Alumni",
  },
  {
    icon: motocrossIcon,
    heading: "Motocross Lover",
  },
  {
    icon: learnerIcon,
    heading: "Continuous Learner",
  },
  {
    icon: adventureIcon,
    heading: "Adventure Seeker",
  },
  {
    icon: foodieIcon,
    heading: "Self-Proclaimed Foodie",
  },
];
---

<Layout title="About Me">
    <div class="mt-36 lg:pb-12 container mx-auto">
      <section class="w-full">
        <h1 class="text-4xl mb-4">My Story</h2>
        <h3 class="text-xl mb-2">A Journey from Web to Software Development</h3>
        <p class="mb-4">
          I started my career in web development, busting my ass on marketing support teams 😁 While I loved the business challenges they provided - I found the technology choices to be erratic and irresponsible. While working at <a href="">Duke University</a> - I realized how impactful I could be working on a product. This experience pushed me towards my long-time goal of becoming a <span class="text-bold text-white">software developer</span>.
        </p>
        
        <h3 class="text-xl mb-2">The Birth of the 'Undeveloped Developer'</h3>
        <p class="mb-4">
          During my transition to software developer, I discovered the idea of being an <span class="text-bold text-white">'Undeveloped Developer'</span>. It's about realizing that with every new step comes new challenges and more to learn. This idea means seeing the journey to mastery as ongoing, where growth, flexibility, and continuous learning define how I approach development.
        </p>
        
        <h3 class="text-xl mb-2">Living the Philosophy of an 'Undeveloped Developer'</h3>
        <p class="mb-4">
          This mindset shapes every problem I encounter. Keeping a beginner's perspective helps me think creatively and find alternative solutions. The 'Undeveloped Developer' isn't just a label; it's a way of working, constantly learning, and striving to connect development with broader business goals.
        </p>
      </section>      
      <section class="mt-24">
        <h2 class="text-4xl mb-4">Recent Memories</h2>
        <InstagramBlock />
      </section>
    </div>
</Layout>

<style lang="scss">
  .btn-custom {
    &:hover {
      svg {
        margin-left: 8px;
      }
    }

    svg {
      color: #f7961c;
      margin-left: 3px;
      transition: 0.2s all ease-in-out;
    }
  }
</style>
