---
import Layout from "../layouts/Layout.astro";
import CalloutCard from "../components/CalloutCard.astro";
import InstagramBlock from "../components/InstagramBlock.astro";
import { Image } from "astro:assets";
import aboutImage from "../assets/images/about.jpg"
import developerIcon from "../assets/images/icons/developer.png"
import iuIcon from "../assets/images/icons/iu.png"
import motocrossIcon from "../assets/images/icons/motocross.png"
import learnerIcon from "../assets/images/icons/learner.png"
import adventureIcon from "../assets/images/icons/adventure.png"
import foodieIcon from "../assets/images/icons/foodie.png"

const cliffNotes = [
  {
    icon: developerIcon,
    heading: "Software Engineer @ Xylem",
  },
  {
    icon: iuIcon,
    heading: "Indiana University Alumni",
  },
  {
    icon: motocrossIcon,
    heading: "Motocross Lover",
  },
  {
    icon: learnerIcon,
    heading: "Continuous Learner",
  },
  {
    icon: adventureIcon,
    heading: "Adventure Seeker",
  },
  {
    icon: foodieIcon,
    heading: "Self-Proclaimed Foodie",
  },
];
---

<Layout title="About Me">
    <div class="mt-36 lg:pb-12 container mx-auto">
      <section class="w-full">
        <h1 class="text-4xl mb-4">My Journey in Tech</h2>
        <h3 class="text-xl mb-2">The Birth of the 'Strategic Generalist'</h3>
        <p class="mb-4">
          Looking back, a theme of generalism has always been present in the efforts I pursued. In middle school, I was interested in building online communities around video games. In high school, I worked for a local marketing agency and one of the more successful projects was migrating to Digital Ocean VPS's that I administrated (while also building WordPress sites). It was this early zest for all things technology that would later set the stage for my career.
        </p>

        <p class="mb-4">
          My first role after college had me contributing wherever I could bring value, from crafting emails with MJML to analyzing user activity in Google Data Studio. This variety in tasks and roles set the stage for my transition into software development, where I embraced the identity of a <span class="text-white">Strategic Generalist</span>. In this capacity, I've engaged in work ranging from user experience to marketing, and CI/CD to Kubernetes, always aiming to weave together diverse skills to create comprehensive solutions.
        </p>
        
        <h3 class="text-xl mb-2">Maintaing My Identity as a Strategic Generalist</h3>
        <p class="mb-4">
          In my role as a software engineer, every problem is a new puzzle. My approach is to look at challenges from multiple angles, whether it's balancing user needs with technical realities or streamlining a process. Being a <span class="text-white">Strategic Generalist</span> is about thinking broadly, learning continuously, and connecting different aspects of technology with business needs.
        </p>
      </section>      
      <section class="mt-16">
        <h2 class="text-4xl mb-4">Recent Memories</h2>
        <InstagramBlock />
      </section>
    </div>
</Layout>

<style lang="scss">
  .btn-custom {
    &:hover {
      svg {
        margin-left: 8px;
      }
    }

    svg {
      color: #f7961c;
      margin-left: 3px;
      transition: 0.2s all ease-in-out;
    }
  }
</style>
