---
import Layout from "../layouts/Layout.astro";
import CalloutCard from "../components/CalloutCard.astro";
import BlogFeed from "../components/BlogFeed.astro";
import { Image } from "astro:assets";
import headshot from "../assets/images/Headshot.png";
import { Icon } from 'astro-icon/components';
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const blogPosts = allPosts.sort((a, b) => Date.parse(b.data.published) - Date.parse(a.data.published)).slice(0, 5)

const socialLinks = [
  {
    icon: 'fa6-brands:github',
    link: 'https://github.com/laneparton/'
  },
  {
    icon: 'fa6-brands:linkedin',
    link: 'https://www.linkedin.com/in/lane-parton/'
  },
  {
    icon: 'fa6-brands:x-twitter',
    link: 'https://twitter.com/laneparton'
  },
  {
    icon: 'fa6-brands:twitch',
    link: 'https://www.twitch.tv/laneparton'
  }
]
---

<Layout title="Home">
  <div class="container py-6 mt-24 lg:mt-36">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/4 text-center mx-auto mb-5 lg:mb-3">
        <Image
          src={headshot}
          alt="Headshot of Lane"
          class="object-none object-center rounded-full"
          width="253"
          quality="max"
        />
      </div>
      <div class="w-full lg:w-3/4 flex flex-col justify-center">
        <h2 class="text-4xl text-white mb-2">Hey! I'm Lane.</h2>
        <h3 class="mb-6 text-xl">
          I write software and craft experiences that enrich people's lives.
        </h3>
        <p class="mb-6">
          I consider myself to be a <a href="/about-me">Strategic Generalist</a>. While I enjoy the focusing on the user experience, I tend to follow problems and find solutions wherever I see opportunities to add value.
        </p>
        <p class="mb-6">
          Working with the talented folks at <a
            href="https://www.xylem.com/"
            target="_blank"
            class="font-semibold"
          >Xylem</a>, I strive to develop innovative
          solutions that allow our users to manage their smart utility network.
        </p>
        <div class="flex text-white text-4xl social-links">
          {socialLinks.map(social => (
            <a href={social.link} class="mx-2" target="_blank">
              <Icon name={social.icon} />
            </a>
          ))}
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-24">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="w-full mb-4">
        <CalloutCard>
          <h3 class="relative mb-6 text-lg font-medium text-white">
            Get to Know Me
            <span
              class="absolute bottom-[-8px] left-0 w-1/2 h-0.5 bg-lightBlue"
            >
            </span>
          </h3>
          <p class="mb-5">
            From my evolution in software engineering to the joys I find in life away from the keyboard - be it adventuring outdoors with my wife and dog or delving into diverse hobbies - I invite you to get a glimpse into my world.
          </p>
          <a href="/about-me" class="btn-custom mt-auto">
            Learn More About Me <Icon name="fa6-solid:arrow-right" />
          </a>
        </CalloutCard>
      </div>
      <div class="w-full mb-4">
        <CalloutCard>
          <h3 class="relative mb-6 text-lg font-medium text-white">
            Let's Collaborate
            <span
              class="absolute bottom-[-8px] left-0 w-1/2 h-0.5 bg-lightBlue"
            >
            </span>
          </h3>
          <p class="mb-5">
            Whether you're a small business or an individual looking to build,
            maintain, or grow your web presence, I'm here to help. Get in touch
            to explore personalized web consulting services that fit your unique
            needs and goals.
          </p>
          <a href="mailto:hello@laneparton.com" target="_blank" class="btn-custom mt-auto">
            Get in Touch <Icon name="fa6-solid:arrow-right" />
          </a>
        </CalloutCard>
      </div>
    </div>
  </div>

  <div class="container mt-12 lg:mt-24 lg:mb-12">
    <h2 class="text-3xl text-white mb-4">Latest Posts</h2>
    <BlogFeed posts={blogPosts} />
    <div class="flex flex-wrap">
      <div class="w-full mt-4">
        <a href="/posts" class="text-primary btn-custom">
          See More Posts <Icon name="fa6-solid:arrow-right" />
        </a>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss" scoped>
	.social-links {
		[data-icon] {
			width: 2rem;
		}
	}
</style>
