---
import { Icon } from "astro-icon";
function getCurrentYear() {
  const currentDate = new Date();
  const currentYear = currentDate.getFullYear();
  return currentYear;
}

const socialLinks = [
  {
    icon: 'fa-brands:github',
    link: 'https://github.com/laneparton/'
  },
  {
    icon: 'fa-brands:linkedin',
    link: 'https://www.linkedin.com/in/lane-parton/'
  },
  {
    icon: 'fa-brands:twitter',
    link: 'https://twitter.com/laneparton'
  },
]
---

<footer
  id="footer"
  class="bg-navyBlue mt-8 py-6 shadow-inner footer"
  role="contentinfo"
>
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-between items-center">
      <div class="w-full md:w-1/2 text-center md:text-left">
        <p class="mb-0">
          &copy; {getCurrentYear()} Lane Parton
        </p>
      </div>
      <nav
        class="w-full md:w-1/2 text-center md:text-right text-white text-3xl"
        role="navigation"
        aria-label="Footer Social Links Menu"
      >
      {socialLinks.map(social => (
        <a href={social.link} class="mx-2" target="_blank">
          <Icon name={social.icon} />
        </a>
      ))}
      </nav>
    </div>
  </div>
</footer>
<style scoped>
  .footer {
    box-shadow: inset 0 0 3px #adb5bd26;
  }

  [astro-icon] {
    width: 1.5rem;
  }
</style>
