---
import { Icon } from "astro-icon/components";

const navLinks = [
  {
    text: "Home",
    to: "/",
  },
  {
    text: "About Me",
    to: "/about-me",
  },
  {
    text: "Posts",
    to: "/posts",
  },
  {
    text: "Stream Notes",
    to: "/stream-notes",
  },
  {
    text: "Bookmarks",
    to: "/bookmarks",
  },
];
---

<script>
  function openNav() {
    const navDrawer = document.getElementById("nav-drawer");
    navDrawer?.classList.add("show");

    const backdrop = document.getElementById("backdrop");
    backdrop?.classList.add("show");
    backdrop?.addEventListener("click", closeNav);
  }

  function closeNav() {
    const navDrawer = document.getElementById("nav-drawer");
    navDrawer?.classList.remove("show");

    const backdrop = document.getElementById("backdrop");
    backdrop?.classList.remove("show");
    // Remove click event listener to prevent memory leaks
    backdrop?.removeEventListener("click", closeNav);
  }

  function toggleNav() {
    const navDrawer = document.getElementById("nav-drawer");
    if (navDrawer?.classList.contains("show")) {
      closeNav();
    } else {
      openNav();
    }
  }

  document.addEventListener("keydown", function (event) {
    if (event.key === "Escape") {
      closeNav();
    }
  });

  const navButton = document.getElementsByClassName("nav-button")[0];
  navButton.addEventListener("click", toggleNav);

  const navClose = document.getElementById("close-nav");
  navClose?.addEventListener("click", closeNav);
</script>

<header
  id="topnav"
  class="w-full fixed z-10 top-0 px-4 bg-midnightBlue sticky-shadow"
>
  <div class="container flex py-4">
    <a class="font-normal text-white text-4xl tracking-wider" href="/">
      &lt;lp&gt;
    </a>
    <button
      type="button"
      aria-controls="nav-drawer"
      class="ml-auto nav-button text-white bg-lightOrange hover:bg-darkerOrange rounded-sm"
      aria-label="Open Navigation"
    >
      <Icon name="fa6-solid:bars" class="nav-icon" />
    </button>

    <div
      id="nav-drawer"
      class="fixed inset-y-0 z-50 right-0 w-full lg:w-96 bg-midnightBlue shadow-lg transform ease-in-out duration-300 translate-x-full"
      tabindex="-1"
    >
      <div class="px-4 border-b flex border-faintBlue">
        <button
          type="button"
          class="mr-4 ml-auto text-3xl py-4 text-white"
          aria-label="Close Navigation"
        >
          <Icon name="fa6-solid:xmark" id="close-nav" />
        </button>
      </div>
      <div class="h-full flex items-center justify-center">
        <ul class="text-center">
          {
            navLinks.map((link) => (
              <li class="py-4 text-xl uppercase font-bold">
                <a href={link.to}>{link.text}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <div
    id="backdrop"
    class="fixed inset-0 z-40 bg-black opacity-0 transition-opacity duration-300 pointer-events-none"
  >
  </div>
</header>

<style>
  .sticky-shadow {
    box-shadow: 0 0 3px rgba(173, 181, 189, 0.15);
  }

  #nav-drawer.show {
    @apply translate-x-0 visible;
  }

  #backdrop.show {
    @apply opacity-75 pointer-events-auto;
  }

  .nav-button {
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
  }

  .nav-icon {
    width: 1.2rem;
    height: 1.2rem;
  }

  #close-nav {
    width: 2rem;
  }
</style>
