---
import dayjs from "dayjs";
import { Icon } from 'astro-icon/components';
import slugify from 'slugify';

interface Props {
  posts: Array<any>
}

const { posts } = Astro.props;
---

<div>
  <div class="flex flex-col border-t border-lightBlue">
    <div class="flex border-b border-lightBlue">
      <div class="flex-1 py-2 px-3 text-left text-sm border-r border-lightBlue">
        <Icon name="fa6-solid:font" class="me-2" />Name
      </div>
      <div class="flex-1 py-2 px-3 text-left text-sm border-lightBlue">
        <Icon name="fa6-regular:calendar" class="me-2" />Date Published
      </div>
    </div>
    {
      posts.map((post) => (
        <div class="flex border-b border-lightBlue">
          <div class="flex-1 py-2 px-3 text-sm border-r border-lightBlue flex items-center">
            <a href={`/stream-notes/${post.slug}/`} class="font-bold">
              {post.data.title}
            </a>
          </div>
          <div class="flex-1 py-2 px-3 text-sm border-lightBlue flex items-center">
            {dayjs(post.data.published).format("MMMM D, YYYY")}
          </div>
        </div>
      ))
    }
  </div>
</div>
